In [1]:
import pandas as p-d
import numpy as np

In [10]:
data = pd.read_csv('data.csv')

In [11]:
data.head()

,Name,Position,Nat,Height,Age,Tck W,Tck R,Tck A,Shot/90,ShT/90,...,Tck,DrbPG,Shot %,Yel,Red,Av Rat,Hdrs A,Mins,Club,Preferred Foot
0,Gianfranco Gazzaniga,GK,ECU,"184,00","32,00","3,00","0,38","0,00","0,00","0,00",...,"0,08","0,00","0,00","0,00","0,00","6,82","0,00","3 420,00",Oviedo,Right
1,Unai Etxebarria,GK,ESP,"188,00","29,00","0,00","0,00","0,00","0,00","0,00",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00",Oviedo,Right
2,Tachi,D (C),ESP,"184,00","28,00","84,00","0,82","0,00","0,17","0,06",...,"2,40","0,00","0,33","12,00","0,00","6,79","138,00","3 150,00",Oviedo,Right
3,Pablo Bobadilla,D (C),ESP,"187,00","29,00","1,00","1,00","0,00","0,00","0,00",...,"18,00","0,00","0,00","0,00","0,00","0,00","0,00","5,00",Oviedo,Right Only
4,Retu,D (RC),ESP,"185,00","24,00","53,00","0,74","0,00","0,44","0,22",...,"1,93","0,00","0,50","10,00","0,00","6,75","162,00","2 471,00",Oviedo,Right